// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

body.homepage {
    background-image: url('/assets/home-page-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body.pages {
    background-image: url('/assets/pages-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.container {
    min-height: 550px;
    padding-top: 120px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-dark .navbar .nav .nav-item .nav-link, .footer-link {
    color: white;
}

.navbar-dark .navbar .nav .nav-item .nav-link:hover, .footer-link:hover {
    color: gray;
    text-decoration: none;
}

.footer-light {
    margin-top: 25px;
    background-color: #343a40;
    color: white !important;
    bottom: 0;
    width: 100%
}

.footer-light h5 {
    color: orange;
}

.container a {
    color: grey;
}

.container a:hover {
    color: orange;
}

.secondary_navbar {
    position: fixed;
    align-items: center;
    padding: 0rem 0rem;
    width: 100%;
    top: 60px;
    z-index: 100;
}

.secondary_navbar .navbar{
    padding: 0rem;
}

.secondary_navbar a {
    color: gray;
}

.secondary_navbar a:hover {
    color: orange;
}

.footer_logo{
    width: 45%;
}

.page-footer p {
    text-align: justify;
}

.card-deck .card .btn {
    color: lightgray;
}