// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

.container {
    min-height: 400px;
}

.navbar-dark .navbar .nav .nav-item .nav-link, .footer-link {
    color: white;
}

.navbar-dark .navbar .nav .nav-item .nav-link:hover, .footer-link:hover {
    color: gray;
    text-decoration: none;
}

.footer-light {
    margin-top: 25px;
    background-color: #343a40;
    color: white !important;
}

.footer-light h5 {
    color: orange;
}

.container a {
    color: gray;
}

.container a:hover {
    color: orange;
}