// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

body.homepage {
    background-image: url('/assets/home-page-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-height: 500px;
}

.navbar-dark .navbar .nav .nav-item .nav-link, .footer-link {
    color: white;
}

.navbar-dark .navbar .nav .nav-item .nav-link:hover, .footer-link:hover {
    color: gray;
    text-decoration: none;
}

.footer-light {
    margin-top: 25px;
    background-color: #343a40;
    color: white !important;
}

.footer-light h5 {
    color: orange;
}

.container a {
    color: gray;
}

.container a:hover {
    color: orange;
}

.secondary_navbar {
    // position: relative;
    // display: flex;
    // flex-wrap: wrap;
    align-items: center;
    // justify-content: space-between;
    // padding: 0rem 0rem;
    width: 100%;
}

.secondary_navbar a {
    color: gray;
}

.secondary_navbar a:hover {
    color: orange;
}