<h1><%= @brand.name %></h1>

<h2>Shoes:</h2>
<ul>
<% @brand.shoes.each do |shoe| %>
    <li><%= link_to shoe.name, shoe_path(shoe) %></li>
<% end %>
</ul>

<h3><%= link_to "Edit Brand", edit_brand_path(@brand) %></h3>